<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div>
<img src='assets/Image1.PNG' alt="Img1" class="center"/></div>
<div>
<p style="color:blue;font-weight: bold;text-align:center;">re<span style="color:red;font-weight: bold;">q</span></p>
<h1 style="color:red;text-align:center;">Real Estate Investing Information<br> That Matters to You.</h1>
<h6 style="color:grey;font-weight: normal;text-align:center;">Limited to San francisco Bay Area ----Join our BETA!</h6></div>
<br>
<div class="wrapper">
<!-- <button type="button" (click)='linkDnRedirect()'>SIGN UP WITH LINKEDIN</button><BR><br> -->
    <button (click)='getRequest()'><a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&state=8369745495&scope=r_liteprofile&client_id=77q2o6710wg93h&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Flinkedin" >Sign Up with linkedin</a></button>
    <br/>
    <a href="url">SIGN IN</a></div>

</body>
</html>