<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div>
<img src='assets/Image1.PNG' alt="Img1" class="center"/></div>
<div>
<p style="color:blue;font-weight: bold;text-align:center;">re<span style="color:red;font-weight: bold;">q</span></p>
<h1 style="color:red;text-align:center;">Real Estate Investing Information<br> That Matters to You.</h1>
<h6 style="color:grey;font-weight: normal;text-align:center;">Limited to San francisco Bay Area ----Join our BETA!</h6></div>
<br>
<div class="wrapper">
    Name: <input type='text'  />
    <br/>
    <br/>
    Email: <input type='text' />
    <br/>
    <br/>
    Password: <input type='password' />
    <br/>
    <br/>
    <button type="submit">Submit</button>
</div>

</body>
</html>
